body {
  background-color:#f2f2f2; 
  color:black;
}
@media screen and (min-width: 1024px) {
  /* Your desktop styles here */
}
#headerCont {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  border: solid crimson 2px; margin-bottom: 10px; padding: 10px;
  background-color: crimson;
}
#headerCont h3 {
  color: white;
  margin: 0;
}

#colTbl .col .container-fluid {
  border: solid black 2px; height: 50vh;
}

table.table-dark{
  font-size: 17px; /* Adjust the font size as needed */
}
::-webkit-scrollbar{
  background:#2D2D2D;
  width:10px;
  height:10px;
  }
::-webkit-scrollbar-thumb {
  background: #737373; 
}

#InventoryTbl {
  border: solid black 2px; height: 77vh; margin-bottom: 2%
}
h4 {
  margin-top: 3vh;
}
