body{
  color: #526348;
  padding: 15px;
}
main{
  height: 83vh; 
  background-color: #eff2e3;
}
::-webkit-scrollbar {
  width: 12px; 
}
main::-webkit-scrollbar-thumb {
  background: #63725a;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: #6B6B6B00; 
}

.container-fluid.dashboard.rounded{
  height: 200px;
  background-color: #d3d8c3;
}
.icon-size{
  width: 30px;
  font-size: 20px;
}
.fa.fa-ellipsis-v{
  color: white;
}
.nav-item1{

}
.nav-link.sidebar {
  background-color: #8c927a;

  color: white;
  border: solid;
}
.nav-link.sidebar.active {
  background-color: #414f39;
  color: white;
}
.nav-link.sidebar:hover {
  background-color: #526348;
  color: white;
}
.nav-link.overview.rounded:hover {
  background-color: #526348;
  color: white;
}
.nav-item2{
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  flex-wrap: wrap;
}
.nav-link.overview.rounded{
  background-color: #8c927a;
  color: white;
  height: 83px;
  flex-grow: 1;
  flex-basis: 200;
  flex-wrap: wrap;
  margin: 5px;
  margin-left: 0;

}
.container-fluid.table{
  margin-top: 30px;
}
.th{
  background-color: #293124;
}